/BuildOut
/TestResults
/NuGet
/Easemob.Restfull4Net/obj
/Easemob.Restfull4Net/bin
/Easemob.Restfull4Net.Test/obj
/Easemob.Restfull4Net.Test/bin
/Easemob.v12.suo
/WebApplicationTest/bin
/WebApplicationTest/obj
/WindowsFormsApplicationTest/bin
/WindowsFormsApplicationTest/obj
