<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
      <section name="EasemobServer" type="Easemob.Restfull4Net.Config.Configuration.ServerConfigSection,Easemob.Restfull4Net"/>
    </configSections>
    <EasemobServer>
      <!--
      备注：此节点可添加多个
      serverUrl：环信服务器地址
      orgName：组织名，对应#前面部分
      appName：应用名，对应#后面部分
      clientId：客户端ID
      clientSecret：客户端密钥
      httpTimeOut：请求超时设置（以毫秒为单位）
      isDebug：是否为调试模式，说明：如果为调试模式，将在程序主目录输出日志文件
      maxJsonLength：JavaScriptSerializer类接受的JSON字符串的最大长度
      -->
      <server
        serverUrl="https://a1.easemob.com/"
        orgName="dotnetsdk"
        appName="app1"
        clientId="YXA6N9H0kFu6EeaqLQ1pVvXmDw"
        clientSecret="YXA6Ald8ijVmKwAtpH5CAMrnxbD6ad0"
        httpTimeOut="10000"
        isDebug="true"
        maxJsonLength="0">
      </server>
      <server
        serverUrl="https://a1.easemob.com/"
        orgName="dotnetsdk"
        appName="app2"
        clientId="YXA6UpwrsFu6Eea3BFnNCfePGA"
        clientSecret="YXA6aglmgoDAj4JqdJxcPWchmeHnLTg"
        httpTimeOut="10000"
        isDebug="true"
        maxJsonLength="0">
      </server>
    </EasemobServer>
    <appSettings>
      <add key="HX_EaseServerUrl" value="https://a1.easemob.com/"/>
      <!--环信服务器地址-->
      <add key="HX_EaseAppClientID" value="YXA6XnzxMFu6EeaBosPJ00Os1A"/>
      <!--客户端ID-->
      <add key="HX_EaseAppClientSecret" value="YXA64C2m31GN3kxMVwdWfs2OyMh5ez8"/>
      <!--客户端密钥-->
      <add key="HX_EaseAppName" value="app3"/>
      <!--应用名，对应#后面部分-->
      <add key="HX_EaseAppOrgName" value="dotnetsdk"/>
      <!--组织名，对应#前面部分-->
      <add key="HX_EaseHttpTimeOut" value="10000"/>
      <!--请求超时设置（以毫秒为单位）-->
      <add key="HX_EaseIsDebug" value="true"/>
      <!--是否为调试模式，说明：如果为调试模式，将在程序主目录输出日志文件-->
      <add key="HX_EaseMaxJsonLength" value="0"/>
      <!--JavaScriptSerializer类接受的JSON字符串的最大长度-->
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
